
      body {
        width: 500px;
        margin: 0 auto;
        position: relative;
      }

      p {
        background: aqua;
        border: 3px solid blue;
        padding: 10px;
        margin: 10px;
      }

      span {
        background: red;
        border: 1px solid black;
      }
      /* new CSS for 'Positioning' added here */

      .positioned {
          position: absolute;
          top: 30px;
          left: 30px;
          background: yellow;
      }